In [2]:
import pandas as pd

In [14]:
df=pd.read_csv('trad_stats_1993-2023.csv')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14839 entries, 0 to 14838
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PLAYER_ID  14839 non-null  int64
 1   RANK       14839 non-null  int64
 2   PLAYER     14839 non-null  object
 3   TEAM_ID    14839 non-null  int64
 4   TEAM       14839 non-null  object
 5   GP         14839 non-null  int64
 6   MIN        14839 non-null  int64
 7   FGM        14839 non-null  int64
 8   FGA        14839 non-null  int64
 9   FG_PCT     14839 non-null  float64
 10  FG3M       14839 non-null  int64
 11  FG3A       14839 non-null  int64
 12  FG3_PCT    14839 non-null  float64
 13  FTM        14839 non-null  int64
 14  FTA        14839 non-null  int64
 15  FT_PCT     14839 non-null  float64
 16  OREB       14839 non-null  int64
 17  DREB       14839 non-null  int64
 18  REB        14839 non-null  int64
 19  AST        14839 non-null  int64
 20  STL        14839 non-null  int64
 21  BLK        14839 non-null  int64
 22  TOV        14839 non-null  int64
 23  PF         14839 non-null  int64
 24  PTS        14839 non-null  int64
 25  EFF        14839 non-null  int64
 26  AST_TOV    14839 non-null  float64
 27  STL_TOV    14839 non-null  float64
 28  season_id  14839 non-null  object
dtypes: float64(5), int64(21), object(3)
memory usage: 3.3+ MB

In [25]:
df.columns

Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF',
       'AST_TOV', 'STL_TOV', 'season_id'],
      dtype='object')

In [26]:
df.sort_values("PTS")

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,season_id
14838,1628425,535,Sterling Brown,1610612747,LAL,4,24,0,4,0.000,...,2,3,0,0,4,0,9,0.00,0.00,2022-23
5058,681,421,Donny Marshall,1610612751,NJN,3,6,0,3,0.000,...,0,0,0,1,0,0,-1,0.00,0.00,2002-03
5059,2462,421,Guy Rucker,1610612744,GSW,3,4,0,0,0.000,...,1,0,0,0,1,0,2,0.00,0.00,2002-03
5060,2441,421,Jamal Sampson,1610612749,MIL,5,8,0,2,0.000,...,1,1,0,0,0,0,2,0.00,0.00,2002-03
5061,2321,421,Paul Shirley,1610612737,ATL,2,5,0,4,0.000,...,0,0,0,0,0,0,-3,0.00,0.00,2002-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,893,1,Michael Jordan,1610612741,CHI,78,3067,992,2003,0.495,...,428,221,61,207,188,2541,2462,2.07,1.07,1992-93
11070,201566,1,Russell Westbrook,1610612760,OKC,81,2802,824,1941,0.425,...,840,132,31,438,190,2558,2740,1.92,0.30,2016-17
9620,201142,1,Kevin Durant,1610612760,OKC,81,3122,849,1688,0.503,...,445,103,59,285,174,2593,2572,1.56,0.36,2013-14
12096,201935,1,James Harden,1610612745,HOU,78,2867,843,1909,0.442,...,586,158,58,387,244,2818,2581,1.51,0.41,2018-19
5970,977,1,Kobe Bryant,1610612747,LAL,80,3277,978,2173,0.450,...,360,147,30,250,233,2832,2226,1.44,0.59,2005-06